$merri: "Merriweather", serif;
$montse: "Montserrat", sans-serif;
$open: "Open Sans", sans-serif;

$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 900;

// landing colors

$dark-green-blue: #114e4e;
$dull-orange: #e17334;
$white-two: #ffffff;
$white-four: #f5f5f5;
$brownish-grey: #6b6b6b;
$gun-metal: #54585a;

//preview shadow
$black-02: rgba(0, 0, 0, 0.2);
$black-035: rgba(0, 0, 0, 0.35);

//design colors

$silver: #bfcdd0;
$pale-grey: #dde9ed;
$light-khaki: #f9f4dc;
$dirty-blue: #438792;
$grey-placeholder: #c5c5c5;

//inputs cold

$hospital-green: #a2deaf;

//imputs warm

$dried-blood: #420101;
$rusty-red: #bd1010;
$tomato: #e95626;

//imputs mix

$slate: #3e5b65;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;

//share colors
$grey: #d5d5d5;
$azure: #00a0f5;
